@charset "utf-8";/* CSS Document */
body {font-family:Tahoma, Arial, Roboto, "瀹嬩綋";}
html, body, ul, li, dl, dd, dt {margin:0;padding:0;}
img{max-width:100%;}
a {text-decoration:none;}
a img {border:none;}
p{text-align:justify;}
.clearfix-before,.clearfix-after {*zoom:1;}
.clearfix-before:before,.clearfix-after:after {display:block;content:".";height:0;clear:both;visibility:hidden;}
.hide{display:none;}
.float-right{float:right;}
.float-left{float:left;}
.text-center{text-align:center;}